<?xml version="1.0"?>
<robot name="vog_base" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--
  This file publishes the `base` model of the `robot_vog` family.
  The robot name inside the URDF stays `vog_base`.
  -->
  <xacro:include filename="$(find robot_vog)/urdf/includes/common.xacro"/>

  <!-- A non-empty sim_file adds the simulation-only joint-state publisher. -->
  <xacro:if value="${sim_file != ''}">
    <gazebo>
      <!--
      Define a 'JointStatePublisher' Gazebo plugin to report the states of the joints.
      -->
      <xacro:property name="joint_state_publisher_sim_cfg"
                      value="${sim_cfg.get('joint_state_publisher', dict())}"/>

      <xacro:if value="${joint_state_publisher_sim_cfg.get('enabled', False)}">
        <xacro:property name="js_topic"
                        value="${joint_state_publisher_sim_cfg.get('topic', '')}"/>

        <xacro:if value="${js_topic == ''}">
          ${xacro.fatal(
            "joint_state_publisher.topic is required when joint_state_publisher.enabled is true.")}
        </xacro:if>

        <xacro:if value="${js_topic != ''}">
          <xacro:resolve_topic prop_id="resolved_js_topic"
                               topic="${js_topic}"
                               namespace="${robot_namespace}"/>

          <xacro:plugin_joint_state_publisher topic="${resolved_js_topic}">
            <joint_names>
              <joint_name>${robot_prefix}${front_left_wheel_name}_steering_joint</joint_name>
              <joint_name>${robot_prefix}${front_left_wheel_name}_rotation_joint</joint_name>
              <joint_name>${robot_prefix}${front_right_wheel_name}_steering_joint</joint_name>
              <joint_name>${robot_prefix}${front_right_wheel_name}_rotation_joint</joint_name>
              <joint_name>${robot_prefix}${rear_left_wheel_name}_steering_joint</joint_name>
              <joint_name>${robot_prefix}${rear_left_wheel_name}_rotation_joint</joint_name>
              <joint_name>${robot_prefix}${rear_right_wheel_name}_steering_joint</joint_name>
              <joint_name>${robot_prefix}${rear_right_wheel_name}_rotation_joint</joint_name>
            </joint_names>
          </xacro:plugin_joint_state_publisher>
        </xacro:if>
      </xacro:if>
    </gazebo>
  </xacro:if>
</robot>
